.marker-btn{
    background-color: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  
  }
  
  .marker-btn img{
    height: 20px;
    width: 20px;
    border: none;
  }
  
  .link{
    font-size: 1.5rem;
    color: #fff;
    transition:all .5s;
  }

  .link:hover{
    opacity: 0.5;
  }



  